.section-main {
	padding: (73/$screen-size * 100vw) 0;

	@media screen and (max-width: 767px) {
		padding: (73/$bp-mobile * 100vw) 0;
	}

	&--tabs {
		padding-bottom: 0;

		@media screen and (max-width: 767px) {
			padding-bottom: (73/$bp-mobile * 100vw);
		}
	}
}

.title-section {
	font-size: (44/$screen-size * 100vw);
	margin-bottom: (30/$screen-size * 100vw);
	line-height: 1.2;
	font-weight: 400;

	@media screen and (max-width: 991px) {
		font-size: (44/$bp-tablet * 100vw);
		margin-bottom: (30/$bp-tablet * 100vw);
	}

	@media screen and (max-width: 767px) {
		font-size: (44/$bp-mobile * 100vw);
		margin-bottom: (30/$bp-mobile * 100vw);
	}

	@media screen and (max-width: 479px) {
		font-size: (36/$bp-mobile-xs * 100vw);
		margin-bottom: (20/$bp-mobile-xs * 100vw);
	}
}

.top-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: (1114/$screen-size * 100vw);
	width: 100%;
	margin: 0 auto (52/$screen-size * 100vw);

	&__col {
		width: 50%;
		padding: 0 (10/$screen-size * 100vw);

		@media screen and (max-width: 991px) {
			width: 100%;
		}

		&--f1 {
			width: 65%;

			@media screen and (max-width: 991px) {
				width: 100%;
			}
		}

		&--f2 {
			width: 35%;

			@media screen and (max-width: 991px) {
				width: 100%;
			}
		}
	}
}
