
// Font
$mainFont                : "tttravels", Helvetica, Arial, sans-serif;

// Size
$browser-context         : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$screen-size             : 1440;
$bp-tablet               : 991;
$bp-mobile               : 767;
$bp-mobile-xs            : 479;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

$color-main             : #11315B;
$color-second           : #FFD600;
$color-accent           : #5A30F0;
$color-black            : #000000;
$color-white            : #ffffff;
$color-base             : #404040;
$color-dark             : #636c81;
$color-light-gray       : #F3F6FB;
