.advantages-block {
	padding: (74/$screen-size * 100vw) 0;
}

.advantages {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 -(20/$screen-size * 100vw);

	&__item {
		padding: (20/$screen-size * 100vw);
		width: 25%;

		@media screen and (max-width: 767px) {
			width: 50%;
		}

		@media screen and (max-width: 479px) {

		}
	}
}

.advantages-card {
	width: 100%;
	height: 100%;
	min-height: (350/$screen-size * 100vw);
	position: relative;
	background-color: $color-light-gray;
	border-radius: (8/$screen-size * 100vw);
	overflow: hidden;

	@media screen and (max-width: 767px) {
		min-height: (350/$bp-mobile * 100vw);
		border-radius: (8/$bp-mobile * 100vw);
	}

	&:hover, &:focus {
		.advantages-card {
			&__back {
				visibility: visible;

				&:before {
					transform: scale(20);
					@include transition(transform, 0.6s);
				}
			}

			&__text {
				opacity: 1;
				transform: translateY(0);
				transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
				transition-delay: 0.1s;
			}
		}
	}

	&__front {
		padding: (40/$screen-size * 100vw) (15/$screen-size * 100vw) 0;
		text-align: center;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 767px) {
			padding: (40/$bp-mobile * 100vw) (15/$bp-mobile * 100vw) 0;
		}

		@media screen and (max-width: 479px) {

		}
	}

	&__back {
		padding: (10/$screen-size * 100vw);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		background-color: transparent;
		z-index: 2;

		&:before {
			@include pseudo;
			bottom: 0;
			left: 0;
			transform-origin: 40% 70%;
			width: (50/$screen-size * 100vw);
			height: (50/$screen-size * 100vw);
			background-color: $color-accent;
			z-index: -1;
			border-radius: 50%;
			@include transition(transform, 0.2s);
			transform: scale(0);

			@media screen and (max-width: 767px) {
				width: (50/$bp-mobile * 100vw);
				height: (50/$bp-mobile * 100vw);
			}
		}
	}

	&__title {
		width: 100%;
		font-size: (30/$screen-size * 100vw);
		line-height: 1.1;
		margin-bottom: (20/$screen-size * 100vw);
		font-weight: 500;

		@media screen and (max-width: 767px) {
			font-size: (30/$bp-mobile * 100vw);
			margin-bottom: (20/$bp-mobile * 100vw);
		}
	}

	&__image {
		width: 100%;
		margin-top: auto;

		img {
			object-fit: contain;
			width: (211/$screen-size * 100vw);
			height: (175/$screen-size * 100vw);

			@media screen and (max-width: 767px) {
				width: (211/$bp-mobile * 100vw);
				height: (175/$bp-mobile * 100vw);
			}

			@media screen and (max-width: 479px) {

			}
		}
	}

	&__text {
		opacity: 0;
		transform: translateY((30/$screen-size * 100vw));
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
		font-size: (16/$screen-size * 100vw);
		color: $color-white;
		padding: (30/$screen-size * 100vw);
		line-height: 1.375;

		@media screen and (max-width: 767px) {
			transform: translateY((30/$bp-mobile * 100vw));
			font-size: (16/$bp-mobile * 100vw);
			padding: (30/$bp-mobile * 100vw);
		}

		@media screen and (max-width: 479px) {
			font-size: (18/$bp-mobile * 100vw);
		}
	}
}
